h1{
  color:grey;
}
input{
  width: 60%;
  height:30px;
}
button{
  background-color:darkgreen;
  padding: 5px;
  color:white;
}
#image{
    display :flex;
    flex-wrap: wrap;
}
img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
  }
  #name_login{
    display :flex;
    flex-wrap: wrap;
}  
.btns{
    margin :5px;
    color:white;
    background-color: orangered;
    text-align: center;
    font-weight: 400;
}
a{
    margin-left: 10px;
    font-size: medium;
  
}
